.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  z-index: -1;
}

  html,body{
          margin: 0;
          padding: 0;
     }


