.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.map-container {
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}


