body {
    margin: 0;
}

#logo{
    z-index: 2;
    position: absolute;
    bottom: 500px;
    right: 20px;
    height: 240px;
    width: 200px;
}

#nav a {
    position: absolute;
    left: 18px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#nav a:hover {
    left: 0;
}

#profile {
    top: 170px;
    background-color: #555;
}

#account {
    top: 50px;
    background-color: #2196F3;
}

#events {
    top: 110px;
    background-color: #f44336;
}

 #vertical-menu {
    width: 250px;
    z-index: 3;
    position: absolute;
    top: 250px;
    left: 18px;
}

 #vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#vertical-menu a:hover {
    background-color: #ccc;
    color: navy;
}

#vertical-menu a.menu {
    background-color: #4CAF50;
    color: white;
}

#createEvents{
    position: absolute;
    z-index: 3;
    background-color: burlywood;
    width: 200px;
    height: 310px;
    top: 180px;
    right: 30px;

}

#container{
    width: 100%vh;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 175px;
   position: relative;
   bottom: -18px;
   right: -15px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}
.green   { background-color: #779126; }

#locations{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: powderblue;
}

#location{
    position: relative;
    bottom: -8px;
    right: -12px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#name{
   position: relative;
   right: -8px;
   top: 55px;
   font-style: italic;
   font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; 
}

#time{
   position: relative;
   right: -8px;
   font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; 
   font-style: italic;
   top: 30px;
}

#sport{
   position: relative;
   right: -10px;
   top: 8px;
   font-style: italic;
   font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; 
}

.style{
    position: relative;
    bottom: -10px;
    right: -10px;
}

#submit{
    position: relative;
    top: 80px;
    right: -65px;
}

#nameStyle{
position: relative;
bottom: -65px;
}

#timeStyle{
position: relative;
bottom: -43px;
}

#sportStyle{
position: relative;
bottom: -20px;
}
