body {
    margin: 0;
}

#logo{
    z-index: 2;
    position: absolute;
    bottom: 500px;
    right: 20px;
    height: 240px;
    width: 200px;
}

#nav a {
    position: absolute;
    left: 18px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#nav a:hover {
    left: 0;
}

#profile {
    top: 170px;
    background-color: #555;
}

#account {
    top: 50px;
    background-color: #2196F3;
}

#events {
    top: 110px;
    background-color: #f44336;
}

 #vertical-menu {
    width: 200px;
    z-index: 3;
    position: absolute;
    top: 250px;
}

 #vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#vertical-menu a:hover {
    background-color: #ccc;
    color: navy;
}

#vertical-menu a.menu {
    background-color: #4CAF50;
    color: white;
}


