
#logo{
    z-index: 2;
    position: relative;
    bottom: -5px;
    right: -1050px;
    height: 240px;
    width: 200px;
}
#nav a {
    position: absolute;
    left: 18px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#nav a:hover {
    left: 0;
}

#profile {
    top: 360px;
    background-color: #555;
}

#account {
    top: 240px;
    background-color: #2196F3;
}

#events {
    top: 300px;
    background-color: #f44336;
}

#popup{
    list-style-type: none;   
}

#header{
    background-color: lightblue;
    height: 210px;
    width: 1250px;
    position: relative;
    top: -1230px;
    z-index: 0;
}

#subheader{
    position: relative;
    top: -1430px;
    right: -400px;
    font-size: 80px;
}

